{% extends 'master.html' %} {% block master %}
<div class="content">
    <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title"></h3>

          <div class="card-tools">
            <a class="btn btn-primary" href="{{url()}}categorias/novo">
              Novo
            </a>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Status</th>
                <th>Slug</th>
                <th class="text-right">Ação</th>
              </tr>
              </thead>
              <tbody>
                {% for categorie in categories %}
                <tr>
                    <td><a href="pages/examples/invoice.html">{{ categorie.cat_id }}</a></td>
                    <td>{{ categorie.cat_name }}</td>
                    <td>
                        {% if categorie.cat_status == 1 %}
                            <span class="badge badge-success">Ativo</span>
                        {%else%}
                            <span class="badge badge-danger">Inativo</span>
                        {% endif %}
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">{{ categorie.cat_slug }}</div>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm" href="{{url()}}categorias/edit/{{categorie.cat_id}}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Editar
                        </a>
                        <a class="btn btn-danger btn-sm" href="{{url()}}categorias/delete/{{categorie.cat_id}}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Deletar
                        </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
        </div>
        <!-- /.card-footer -->
      </div>
    </div>
</div>


{% endblock %}